<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      /* Reset some default styles for email clients */
      body,
      p {
        margin: 0;
        padding: 0;
        font-family: "Poppins", sans-serif;
      }
    </style>
  </head>
  <body style="background-color: #e5efff; margin: 0; padding: 0">
    <table
      role="presentation"
      align="center"
      width="100%"
      cellspacing="0"
      cellpadding="0"
      border="0"
    >
      <tr>
        <td style="padding: 20px">
          <table
            role="presentation"
            align="center"
            width="600"
            cellspacing="0"
            cellpadding="0"
            border="0"
            style="
              background-color: #ffffff;
              box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
              border-radius: 8px;
            "
          >
            <tr>
              <td style="padding: 20px; text-align: center">
                <!-- Logo -->
                <img
                  src="https://res.cloudinary.com/dmx2xmhry/image/upload/v1694286881/logo_3_rmih4y.png"
                  alt="Company Logo"
                  width="150"
                  style="display: block; margin: 0 auto 20px"
                />

                <h1 style="color: #0061fe; margin-bottom: 10px">
                  New Message Received!
                </h1>
                <p style="color: #38486e; font-size: 16px">Hello There,</p>
                <p style="color: #38486e; font-size: 16px">
                  You have received {{messageCount}} new messages on Minerva.
                </p>
                <p style="font-size: 18px; color: #0061fe; margin-bottom: 10px">
                  🎉 New Message Alert! 📬
                </p>
                <br />
                {{messageContent}}
                <p style="color: #38486e; font-size: 16px">
                  Click the button below to view the message:
                </p>
                <p style="margin: 30px 0">
                  <a
                    href="[Message Page URL]"
                    style="
                      background-color: #0061fe;
                      color: #ffffff;
                      text-decoration: none;
                      padding: 10px 20px;
                      border-radius: 4px;
                      font-size: 18px;
                      font-weight: bold;
                    "
                    >View Message</a
                  >
                </p>
                <p style="color: #38486e; font-size: 16px">
                  If the button above does not work, you can also copy and paste
                  the following URL into your browser:
                </p>
                <p style="color: #38486e; font-size: 16px">
                  [Message Page URL]
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
